body, html {
  height: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,4892ce+100 */
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top,  #4892ce 0%, #1e5799 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #4892ce 0%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #4892ce 0%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4892ce', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}

body, html {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

.logoImg {
  position: relative;
  padding: 0 58px;
  height: 812px;
  padding-top: 280px;
}
img#logo { 
  width: 100%;
  max-width: 300px;
  height: auto;
}

.begin {
  padding-top: 136px;
  text-align: center;
}

#logoBegin {
  width: 207px;
  margin-bottom: 84px;
}

.begin p {
  max-width: 270px;
  margin: 0 auto;
  color: white;
  margin-bottom: 84px;
  line-height: 1.85em;;
}

button {
  margin-bottom: 25px;
  color: #1b324f !important;
  background-color: #85d3f6 !important;
  border-radius: 13px !important;
  padding: 13px 33px !important;
  font-weight: 600 !important;
  outline: 0 !important;
}
button:hover {
  background-color: #1b324f !important;
}

.begin a {
  color: white;
  text-decoration: underline;
  padding: 15px;
}

.begin a:hover {
  color: #ffc600
}

.scroller {
  padding-top: 116px;
  text-align: center;
}

.carousel {
  background-color: #e4f5fd;
  margin: 0 30px;
  height: 502px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.carousel h1 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 100px; 
  padding: 0 25px;
}

.carousel p {
  padding: 0 25px;
}


.carousel-control-prev-icon {
    background-image: url("../images/Arrow2.svg") !important;
}

.carousel-control-next-icon {
  background-image: url("../images/Arrow.svg") !important;
}

.info {
  text-align: center;
}

.infoContent {
  background-color: #e4f5fd;
  height: 600px;
  text-align: left;
  margin: 60px 45px 30px; 
  border-radius: 20px;
  padding: 30px 25px 0
}

.info h1 { 
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px; 
  text-align: center;
  padding: 0 15px;
}

.info button#second {
  margin-left: 13px;
}

.congratsContent {
  background-color: #e4f5fd;
  height: 600px;
  margin: 60px 45px 30px; 
  border-radius: 20px;
  padding: 30px 25px 0
}

.carousel-indicators li {
  background-color: #1b324f !important;
}